*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: url("/pagina_login/img/pngtree-orange-background-business-lines-image_564080.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display:flex ;
    align-items: center;
    justify-content: center;
}
.main{
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid #b19c9c;
    border-radius: 10px;
    width: 420px;
    padding: 40px 40px;
}
.main h1{
    text-align: center;
    color: #fff;
}
.input-main{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-main input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255,255,.3);
    border-radius: 10px;
    font-size: 15px;
    padding: 15px;
    
}
.input-main input::placeholder{
    color: #fff;
}
p{
    color: #fff;
    font-size: 19px;
    margin-left: 10px;
    margin-bottom: 15px;
    
}
.mas{
    color: #fff;
    margin-left: 25px;
}
.fem{
    color: #fff;
    margin-left: 25px;
}
.mas:hover{
    text-decoration: underline;
}
.fem:hover{
    text-decoration: underline;
}
.button{
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 16px;
    background-color: #757573;
    border: none;
    border: 2px solid rgba(240, 240, 240, 0.3);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.button:hover{
    background-color:  #878784;
}
.back a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
.back a:hover{
    text-decoration: underline;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("/pagina_login/img/pngtree-orange-background-business-lines-image_564080.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.principal{
    width: 420px;
    background-color: transparent;
    border: 2px solid #b19c9c;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    padding: 60px 40px;
}
.principal h1{
    
    text-align: center;
    color: #f8f2f2;
}
.input-principal{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-principal input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255,255,.3);
    border-radius: 10px;
    font-size: 15px;
    padding: 15px;
}   
.input-principal input::placeholder{
    color: #fff;
}
/* .input-principal img{
    position: absolute;
    right: 24px;
    top: 20%;
    margin-top: 5px;
    
} */
.input-principal a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
    flex-direction: re;
    

}
.input-principal a:hover{
    text-decoration: underline;
    color: #e7e5e5;
}
.button{
    width: 100%;
    height: 50px;
    background-color: #757573;
    border: none;
    border: 2px solid rgba(240, 240, 240, 0.3);
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}
.button:hover{
    background-color:  #878784;
}
p{
    color: #fff;
    font-size: 16px;
    margin-left: 5px;
}

a{
    font-size: 20px;
    color:#fff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline
}
